<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Cadastrar Produto</title>
</head>
<style>
</style>
<body>
    <div class="container">
        <h1 class="display-4 text-muted">Cadastrar Produto</h1> 
        <div class="form-group center">
            <form action="../Controller/cadastrarProduto.php" method="POST">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" required name="nome"> <br>
                <label for="descricao">Descricao:</label>
                <input class="form-control" type="text" required name = "descricao"> <br>
                <label for="preco">Preco:</label>
                <input class="form-control" type="number" step="0.01" min = "0" required name = "preco" > <br>
                <label for="qntdEmEstoque">Quantidade em Estoque:</label>
                <input class="form-control" type="number" required min="0" name = "qntdEmEstoque"> <br>
                <input class="btn btn-success" type="submit" value="Enviar">
                <input class="btn btn-success" type="reset" value="Limpar"> <br><br>
            </form>
            <a class='btn btn-primary' href="tabelaProdutos.php">Voltar</a>
        </div>
    </div>
</body>
</html>