<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Cadastrar Cliente</title>
</head>
<body>
    
    <div class="container">
        <h2 class="display-4 text-muted">Cadastrar Cliente</h2> 
        <div class="form-group">
            <form action="../Controller/cadastrarCliente.php" method="POST">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" required name="nome"> <br>
                <label for="idade">Idade:</label>
                <input class="form-control" type="number" required name = "idade" min="0"> <br>
                <label for="email">Email:</label>
                <input class="form-control" type="email" required name = "email" > <br>
                <label for="qntdCompras">Quantidade de Compras:</label>
                <input class="form-control" type="number" required min="0" name = "qntdCompras"> <br>
                <input class="btn btn-success" type="submit" value="Enviar">
                <input class="btn btn-success" type="reset" value="Limpar"> <br><br>
            </form>
        </div>
        <a class='btn btn-primary' href="tabelaClientesView.php">Voltar</a>
    </div>
    
</body>
</html>
